/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  padding: 2rem;
}

.page_grid__f5Kdy {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  gap: 2rem;
  margin-top: 2rem;
}

.page_card__QV0Om {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.page_card__QV0Om:hover {
  transform: translateY(-5px);
}

.page_card__QV0Om img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.page_message__abnJo {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #666;
}

.page_error__Jil8M {
  text-align: center;
  padding: 2rem;
  color: #dc2626;
  font-size: 1.2rem;
} 
